body{
    backgroud: white;
    color: #222222;
    max-width: 600px;
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji ;
}

p{
    line-height: 1.6;

}
